@import './generic/font.css'; 
@import './generic/font-icon.css'; 

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply font-['RaviFaNum'] text-right font-medium min-h-screen bg-neutral-darker;
    direction: rtl !important;
  }
  html {
    --color-white: 255 255 255 ;
    --color-black: 0 0 0 ;

    --color-primary: 142 114 255 ;
    --color-primary-dark: 108 86 200 ;
    --color-primary-light: 34 30 51 ;
    /* --color-primary-dark: 38 23 100; */

    --color-dim: 233 231 235 ;
    --color-dim-dark: 244 242 245 ;
    --color-dim-light: 213 210 217 ;
    --color-dim-lighter: 135 131 143 ;

    --color-info: 143 237 252 ;
    --color-info-dark: 105 178 190 ;
    --color-info-light: 25 47 74 ;


    --color-warning: 255 172 105 ;
    --color-warning-dark: 193 130 78 ;
    --color-warning-light: 57 39 25 ;

    --color-danger: 255 105 105 ;
    --color-danger-dark: 179 79 79 ;
    --color-danger-light: 57 25 28 ;
    /* --color-danger-dark: 255 65 65 ; */
    
    --color-success: 143 252 183 ;
    --color-success-dark: 103 169 127 ;
    --color-success-light: 29 51 44 ;

    --color-neutral: 26 25 28 ;
    --color-neutral-dark: 22 21 24 ;
    --color-neutral-darker: 16 16 18 ;
    --color-neutral-light: 43 41 47 ;
  }


  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }

}

@layer utilities {
  .dir-ltr {
    direction: ltr;
  }
  .hr {
    @apply w-full block h-0.5 bg-neutral
  }
}